* {
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #ffffff;
}

.header,
.footer {
    background-color: rgba(127, 255, 212, 0.3);
    height: 90px;
    display: flex;
    align-items: center;
}

body {
    background-image: url('./assets/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-cont {
    max-width: 1280px;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 375%;
}

.main-cont {
    max-width: 400px;
    margin: 20px auto 25px;
}

.calc-input {
    resize: none;
    width: 380px;
    height: 90px;
    background-color: rgba(127, 255, 212, 0.5);
    border: 0;
    padding: 10px;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-bottom: 10px;
    &:focus-visible {
        outline: none;
    }
    display: flex;
    justify-content: flex-end;
}

.calc-btns {
    width: 400px;
    background-color: rgba(127, 255, 212, 0.4);
}

.memory {
    width: 20px;
    height: 20px;
    position: absolute;
    color: #000;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.rows {
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.mr, .calc-btn-er, .calc-btn-num, .calc-btn-sym {
    width: 52px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

@mixin ChangeColor ($color) {
    &:hover {
        background-color: lighten($color, 10%);
        color: lighten(#000, 2%);
    }
}

.mr {
    height: 40px;
    background-color: #e9967ab1;
    font-weight: 600;
    @include ChangeColor(#e9967ab1);
}

.calc-btn-er {
    background-color: #ff0033af;
    font-weight: 600;
    @include ChangeColor(#ff0033af);
}

.calc-btn-num {
    background-color: #00cbcbb1;
    font-weight: 900;
    font-size: 25px;
    color: #000;
    @include ChangeColor(#00cbcbb1);
}

.calc-btn-sym {
    background-color: #7400e1af;
    font-weight: 900;
    @include ChangeColor(#7400e1af);
}

.footer-cont {
    width: 1280px;
    padding: 5px 40px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.copyright {
    padding-right: 20px;
}

.name {
    display: block;
    margin-left: auto;
}